!!!
%html
  %head
    %title gitstuff
    
    :plain
      <script type="text/javascript" src="http://use.typekit.com/omo5tya.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    :css
      * {
        margin: 0; padding: 0
      }
      body {
        background: #fbfaf6;
      }

      #main {
        width: 500px;
        margin: 0 auto;
      }
      
      h1, h2 {
        margin: 0 auto 10px auto;
        text-align: center;
        font-family: chaparral-pro;
        color: #666;
        font-weight: normal;
      }
      
      h1 {
        margin-top: 60px;
        padding: 20px;
        font-size: 3.2em;
        text-shadow: 1px 1px 1px #ccc;
      }
      
      h2 {
        font-size: 1.2em;
      }

      a {
        color: #666;
        text-decoration: none;
      }

      a:hover {
        color: #000;
      }
  %body
    #main
      = yield
  