%h1 Git stuff and keep it.

%p.thepitch
  Gitstuff is like <a href="http://tumblr.com">Tumblr</a> meets <a href="https://github.com/mojombo/jekyll">Jekyll</a>,
  %br
  powered by your <a href="http://github.com">GitHub</a> repo,
  %br
  hosted and searchable.


%p.links
  %a{ :href => "/jkriss/drinks"} See an example
  %span.symbol &mdash;
  %a{ :href => "http://github.com/jkriss/drinks"} View source

%p.invitation
  Want to try it out? Ask <a href="http://twitter.com/jkriss">@jkriss</a>.

.credits
  A 
  %a{ :href => "http://jklabs.net" } jklabs 
  production.