%h1 Git stuff and keep it.

%p
  It's like Tumblr meets Jekyll, powered by a GitHub repo.
  
%p
  %a{ :href => "/jkriss/drinks"} See an example
  %span.symbol &mdash;
  %a{ :href => "http://github.com/jkriss/drinks"} See the code

.credits
  A 
  %a{ :href => "http://jklabs.net" } jklabs 
  production.